<html>
    <head>
       <!-- CSS only -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <style>
           .inf-content{
            border:1px solid #DDDDDD;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
            box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
                        }			                                                      
      </style>
    </head>
    <body>
        <div class="container bootstrap snippets bootdey">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="{{profile}}" data-original-title="Usuario"> 
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                Information                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                                <a class="btn btn-primary" href='accounts/logout' role="button">Logout</a>                           
                                        </td>
                                    </tr>
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                Status                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {% if 'accepted' in status %}  
                                            *You are now a service Provider
                                            {% elif 'pending' in status %}  
                                            *Account verification is pending
                                            {% else %}  
                                            *Account Blocked 
                                            {% endif %}
                                            
                                        </td>
                                    </tr>
                                    <tr>    
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                                Name                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{ first_name }}     
                                        </td>
                                    </tr>
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                                Lastname                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{last_name}}  
                                        </td>
                                    </tr>

                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Username                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{username}} 
                                        </td>
                                    </tr>
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                                Email                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                        {{email}} 
                                        </td>
                                    </tr>
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                                For Support                                              
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                        admin@admin.com 
                                        </td>
                                    </tr>
                                    {% if 'accepted' in status and 'true' in pay%}  
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                                Add Your Auditorium                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                        <a class="btn btn-primary" href="{% url 'serviceprovider:add-auditorium' %}" role="button">ADD</a> 
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if 'false' in pay %}
                                    <tr>        
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                                Pay Now                                                
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_ICg7J2k13T7BfD" async> </script> </form>
                                        </td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                        {% if 'accepted' in status and 'true' in pay %}
                        <div class="row">
                            {% for auditorium in auditoriums %}
                            <div class="card" style="width: 18rem;">
                                {% comment %} <img class="card-img-top" src="{{auditorium.catelog}}" alt="Card image cap"> {% endcomment %}
                                <div class="card-body">
                                    <h5 class="card-title">{{auditorium.name}}</h5>
                                    {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
                                    <a href="serviceprovider/auditorium-dashboard/{{auditorium.user}}/{{auditorium.id}}" class="btn btn-primary">Dashboard</a>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>      
        </div>                                        
    </body>
</html>