{% extends "form_base.html" %}

{% block action %} reset_password {% endblock action %}
{% block csrf %} {% csrf_token %} {% endblock csrf %}
{% block head %} Reset password {% endblock head %}

{% block form %} 
<div class="form-group">
   <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <span class="fa fa-user"></span>
            </span>                    
        </div>
        <input type="text" class="form-control" name="code" placeholder="Security Code" required="required">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <span class="fa fa-user"></span>
            </span>                    
        </div>
        <input type="password" class="form-control" name="password1" placeholder="New Password" required="required">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <span class="fa fa-user"></span>
            </span>                    
        </div>
        <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required="required">
    </div>
</div>

{% if validate %}
<p> Incorrect Password or Security Code</p>
{% endif %}

{% endblock form %}

{% block button %}Done{% endblock button %}

