{% extends "../form_base.html" %}

{% comment %} {% block para %} Login as Client {% endblock para %} {% endcomment %}
{% comment %} {% block action %} login-client {% endblock action %}  {% endcomment %}
{% block head %}Login{% endblock head %}
{% block csrf %} {% csrf_token %} {% endblock csrf %} 

{% block form %} 

		<div class="form-group">
			<label class="glyphicon glyphicon-asterisk">Email</label>                                                    
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>                    
				</div>
                {{form.username}}
			</div>
        </div>
		<label class="glyphicon glyphicon-asterisk">Password</label>                                                    
		 <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-lock"></span>
					</span>                    
				</div>
                {{form.password}}
			</div>
        </div> 

		{% if form.errors %}
		<div class="alert alert-danger">
			<strong>username or password not correct</strong>
		</div>
		{% endif %}

        

{% endblock form %}

{% block button %} Login {% endblock button %}

{% block forget_password %} <div class="text-center"><a href='../password_reset/'> Forget password ? </a></div> {% endblock forget_password %}

{% block link %} 
	<div class="text-center">Don't have an account? <a href="{% url 'users:signup-client' %}">Signup as Client</a></div>
	<div class="text-center">Don't have an account? <a href="{% url 'users:signup-serviceprovider' %}">Signup as Service Provider</a></div>
{% endblock link %}
